@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@300;400;600&display=swap');

:root {
    --font-sans: "Poppins", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    --font-alt: "DM Sans", ui-sans-serif, system-ui;

    --header-h: 3.5rem;
    --gutter: 1.111rem;
    --container-w: 1200px;

    --section-gap: 2.7778rem;
    --section-inset: var(--section-gap);
    --section-y: var(--section-inset);

    --color-black: #000000;
    --color-brand: #C29E80;
    --color-circle: #D9D9D9;
    --color-cyan-900: #133D5E;
    --color-background: #F5F5F5;
    --color-stone-900: #21201E;
    --color-stone-400: #C29E80;
    --color-stone-300: #E3D6CB;
    --color-neutral-800: #212325;

    --background-image-hero-gradient: linear-gradient(180deg, #121211 7%, var(--color-brand) 100%);;
    --background-image-hero-gradient-270: linear-gradient(270deg, #C29E80 7%, #000000 100%);

    --about-glow-color: var(--color-brand);
    --about-glow-opacity: 0.6;
    --about-glow-blur: 2.5rem;
    --about-glow-inset: 1.5rem;

    --background-image-about-glow:
            radial-gradient(
                    60% 60% at 50% 40%,
                    color-mix(in oklab, var(--about-glow-color) 22%, transparent) 0%,
                    transparent 70%
            );
}

@media (width >= 1024px) {
    :root {
        --gutter: 7rem;
        --header-h: 4.5rem;

        --section-gap: 6.111rem;
        --section-inset: var(--section-gap);
        --section-y: var(--section-inset);
    }
}

@media (width >= 1280px) { :root { --gutter: 7rem; } }
@media (width >= 1440px) { :root { --gutter: 7rem; } }

@layer base {
    html {
        font-size: 18px;
        font-family: var(--font-sans);
        background-color: var(--color-background);
    }

    body { color: var(--color-stone-900); }

    p {
        font-size: clamp(1rem, 0.95rem + 0.3vw, 1rem)
    }

    main > section {
        margin-block: var(--section-inset);
    }

    footer {
        padding-block: calc(var(--section-inset) / 2);
    }

    main > section#facts { padding-block: 3.333rem; }

    main > section.no-section-top    { margin-top: 0 !important; }
    main > section.no-section-bottom { padding-bottom: 0 !important; }

    @media (width <= 1024px) {
        main > #gallery > .page-container {
            padding-inline: 0px;
        }
    }

    @media (width >= 1024px) {
        main > section#facts { padding-block: 8.8889rem; }
    }
}

@layer utilities {
    .bg-drawer { background-color: var(--color-neutral-800); }
    .bg-hero-gradient { background-image: var(--background-image-hero-gradient); }
    .bg-hero-gradient-270 { background-image: var(--background-image-hero-gradient-270); }

    .bg-about-glow {
        background: var(--background-image-about-glow);
        opacity: var(--about-glow-opacity);
        filter: blur(var(--about-glow-blur));
    }

    .with-glow {
        position: relative;
        isolation: isolate;
    }

    @media (width >= 1024px) {
        .with-glow::after  {
            content: "";
            position: absolute;
            border-radius: 50%;
            z-index: 0;
            pointer-events: none;
            right:-5rem;
            bottom:-3rem;
            width:22rem;
            height:22rem;
            filter: blur(90px);
            background: radial-gradient(ellipse
            50.00% 50.00% at 50.00% 50.00%,
            var(--color-brand) 0%,
            rgba(194, 159, 128, 0) 100%);
        }
    }

    .page-container {
        width: 100%;
        max-width: calc(var(--container-w) + (2 * var(--gutter)));
        margin-inline: auto;
        padding-inline: var(--gutter);
    }

    .font-alt { font-family: var(--font-alt); }

    .section-pt  { padding-top: var(--section-inset); }
    .section-pb  { padding-bottom: var(--section-inset); }

    .mx-out { margin-inline: -10px; }
}

@media (width >= 1024px) {
    @layer utilities {
        .lg\:with-glow { }
    }
}

#mobileNav{opacity:0;pointer-events:none;}
#mobileNav.open{opacity:1;pointer-events:auto;}

@theme {
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1440px;

    --color-black: #000000;
    --color-brand: #C29E80;
    --color-circle: #D9D9D9;
    --color-cyan-900: #133D5E;
    --color-stone-900: #21201E;
    --color-stone-400: #C29E80;
    --color-stone-300: #E3D6CB;
    --color-neutral-800: #212325;
    --color-background: #F5F5F5;

    --background-image-hero-gradient: linear-gradient(180deg, #C29E80 7%, #000000 100%);
    --background-image-hero-gradient-270: linear-gradient(270deg, #C29E80 7%, #000000 100%);
}
